.side-bar {
    background-color: aliceblue;
    height: 100vh;
    overflow: auto;
}

.dummy-button {
    background-color: aliceblue;
    width: 100%;
    text-align: center;
}

.user-icon {
    margin-right: 10px;
}

.dummy-button:hover {
    background-color: #17a2b8!important;
    color: #fff;
}

