.side-bar, .body-white-background {
    background-color: aliceblue;
    height: 100vh;
    overflow: auto;
}

<<<<<<< Updated upstream
.dummy-button {
=======

.add-user-btn {
>>>>>>> Stashed changes
    background-color: aliceblue;
    width: 100%;
    text-align: center;
}

.user-icon {
    margin-right: 10px;
}

.dummy-button:hover {
    background-color: #17a2b8!important;
    color: #fff;
}

